In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

 Segundo Cuatrimestre de 2014. Examen parcial, tercera oportunidad
 
 
 
2) Se tiene un archivo de texto con datos de la forma (url_id,
user_id) representando visitas a un website. (Se pueden
repetir registros). Se pide programar en Pig un script que
indique cual es el promedio global de sitios visitados por
usuario. (***) (15pts)

In [80]:
df = pd.read_csv("website.csv")
df.tail()

              url_id  user_id
15        asdSsa.com        1
16    qweAASqwed.com        2
17     qweqASwed.com        1
18  qwDSAASeqwed.com        2
19       aASsdsa.com        2

In [16]:
df.describe()

         user_id
count  20.000000
mean    1.600000
std     0.502625
min     1.000000
25%     1.000000
50%     2.000000
75%     2.000000
max     2.000000

In [23]:
df.loc[:,'url_id'].apply(lambda x : x+'s')

# df['url_id']

0            asdsa.coms
1          qweqwed.coms
2          qweqwed.coms
3          qweqwed.coms
4            asdsa.coms
5            asdsa.coms
6          qweqwed.coms
7        qweqaswed.coms
8         qweaqwed.coms
9            asdsa.coms
10        asSSWdsa.coms
11       qweSAqwed.coms
12      qweSASqwed.coms
13       qwADeqwed.coms
14          asAdsa.coms
15          asdSsa.coms
16      qweAASqwed.coms
17       qweqASwed.coms
18    qwDSAASeqwed.coms
19         aASsdsa.coms
Name: url_id, dtype: object

In [24]:
df.sort_values('url_id',ascending=True).head(20)

              url_id  user_id
19       aASsdsa.com        2
14        asAdsa.com        2
10      asSSWdsa.com        1
15        asdSsa.com        1
5          asdsa.com        1
0          asdsa.com        1
4          asdsa.com        2
9          asdsa.com        2
13     qwADeqwed.com        2
18  qwDSAASeqwed.com        2
16    qweAASqwed.com        2
12    qweSASqwed.com        1
11     qweSAqwed.com        2
8       qweaqwed.com        2
17     qweqASwed.com        1
7      qweqaswed.com        1
6        qweqwed.com        2
3        qweqwed.com        2
2        qweqwed.com        1
1        qweqwed.com        2

In [33]:
print df.loc[df.url_id.str.contains("asdsa.com"),:]

      url_id  user_id
0  asdsa.com        1
4  asdsa.com        2
5  asdsa.com        1
9  asdsa.com        2

In [46]:
df.loc[1:3,['user_id', 'url_id']]

   user_id       url_id
1        2  qweqwed.com
2        1  qweqwed.com
3        2  qweqwed.com

In [50]:
df.url_id[1:3].head()

1    qweqwed.com
2    qweqwed.com
Name: url_id, dtype: object

In [61]:
df.index = [19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0]
df.head(20)

              url_id  user_id
19         asdsa.com        1
18       qweqwed.com        2
17       qweqwed.com        1
16       qweqwed.com        2
15         asdsa.com        2
14         asdsa.com        1
13       qweqwed.com        2
12     qweqaswed.com        1
11      qweaqwed.com        2
10         asdsa.com        2
9       asSSWdsa.com        1
8      qweSAqwed.com        2
7     qweSASqwed.com        1
6      qwADeqwed.com        2
5         asAdsa.com        2
4         asdSsa.com        1
3     qweAASqwed.com        2
2      qweqASwed.com        1
1   qwDSAASeqwed.com        2
0        aASsdsa.com        2

In [72]:
df.loc[3:2,:]

           url_id  user_id
3  qweAASqwed.com        2
2   qweqASwed.com        1

In [84]:
df = pd.read_csv("website.csv")
df.loc[2:3,:].user_id = 4
df.head(20)

              url_id  user_id
0          asdsa.com        1
1        qweqwed.com        2
2        qweqwed.com        4
3        qweqwed.com        4
4          asdsa.com        2
5          asdsa.com        1
6        qweqwed.com        2
7      qweqaswed.com        1
8       qweaqwed.com        2
9          asdsa.com        2
10      asSSWdsa.com        1
11     qweSAqwed.com        2
12    qweSASqwed.com        1
13     qwADeqwed.com        2
14        asAdsa.com        2
15        asdSsa.com        1
16    qweAASqwed.com        2
17     qweqASwed.com        1
18  qwDSAASeqwed.com        2
19       aASsdsa.com        2

In [90]:
print df.loc[1,'user_id']
print df.loc[1,'url_id']

2
qweqwed.com

In [98]:
df.user_id = df.user_id.apply(lambda x: 2+x)
df.head(20)

              url_id  user_id
0          asdsa.com        7
1        qweqwed.com        8
2        qweqwed.com       10
3        qweqwed.com       10
4          asdsa.com        8
5          asdsa.com        7
6        qweqwed.com        8
7      qweqaswed.com        7
8       qweaqwed.com        8
9          asdsa.com        8
10      asSSWdsa.com        7
11     qweSAqwed.com        8
12    qweSASqwed.com        7
13     qwADeqwed.com        8
14        asAdsa.com        8
15        asdSsa.com        7
16    qweAASqwed.com        8
17     qweqASwed.com        7
18  qwDSAASeqwed.com        8
19       aASsdsa.com        8

In [103]:
df.loc[df.user_id >7]

              url_id  user_id
1        qweqwed.com        8
2        qweqwed.com       10
3        qweqwed.com       10
4          asdsa.com        8
6        qweqwed.com        8
8       qweaqwed.com        8
9          asdsa.com        8
11     qweSAqwed.com        8
13     qwADeqwed.com        8
14        asAdsa.com        8
16    qweAASqwed.com        8
18  qwDSAASeqwed.com        8
19       aASsdsa.com        8

In [129]:
print df.columns[0]

def f(c):
    print 'va'
    print c
    print c.url_id
    return c.columns[0]

df[lambda c : f(c)]

url_id
va
              url_id  user_id
0          asdsa.com        7
1        qweqwed.com        8
2        qweqwed.com       10
3        qweqwed.com       10
4          asdsa.com        8
5          asdsa.com        7
6        qweqwed.com        8
7      qweqaswed.com        7
8       qweaqwed.com        8
9          asdsa.com        8
10      asSSWdsa.com        7
11     qweSAqwed.com        8
12    qweSASqwed.com        7
13     qwADeqwed.com        8
14        asAdsa.com        8
15        asdSsa.com        7
16    qweAASqwed.com        8
17     qweqASwed.com        7
18  qwDSAASeqwed.com        8
19       aASsdsa.com        8
0            asdsa.com
1          qweqwed.com
2          qweqwed.com
3          qweqwed.com
4            asdsa.com
5            asdsa.com
6          qweqwed.com
7        qweqaswed.com
8         qweaqwed.com
9            asdsa.com
10        asSSWdsa.com
11       qweSAqwed.com
12      qweSASqwed.com
13       qwADeqwed.com
14          asAdsa.com
15          asdSsa.com
16      qweAASqwed.com
17       qweqASwed.com
18    qwDSAASeqwed.com
19         aASsdsa.com
Name: url_id, dtype: object

0            asdsa.com
1          qweqwed.com
2          qweqwed.com
3          qweqwed.com
4            asdsa.com
5            asdsa.com
6          qweqwed.com
7        qweqaswed.com
8         qweaqwed.com
9            asdsa.com
10        asSSWdsa.com
11       qweSAqwed.com
12      qweSASqwed.com
13       qwADeqwed.com
14          asAdsa.com
15          asdSsa.com
16      qweAASqwed.com
17       qweqASwed.com
18    qwDSAASeqwed.com
19         aASsdsa.com
Name: url_id, dtype: object

In [131]:
df[df.columns[0]]

0            asdsa.com
1          qweqwed.com
2          qweqwed.com
3          qweqwed.com
4            asdsa.com
5            asdsa.com
6          qweqwed.com
7        qweqaswed.com
8         qweaqwed.com
9            asdsa.com
10        asSSWdsa.com
11       qweSAqwed.com
12      qweSASqwed.com
13       qwADeqwed.com
14          asAdsa.com
15          asdSsa.com
16      qweAASqwed.com
17       qweqASwed.com
18    qwDSAASeqwed.com
19         aASsdsa.com
Name: url_id, dtype: object

In [133]:
df[df.user_id == 10]

        url_id  user_id
2  qweqwed.com       10
3  qweqwed.com       10

 Segundo Cuatrimestre de 2014. Examen parcial, tercera oportunidad
 
 
 
2) Se tiene un archivo de texto con datos de la forma (url_id,
user_id) representando visitas a un website. (Se pueden
repetir registros). Se pide programar en Pig un script que
indique cual es el promedio global de sitios visitados por
usuario. (***) (15pts)

In [206]:
df = pd.read_csv("website.csv")
df.head(21)

              url_id  user_id
0          asdsa.com        1
1        qweqwed.com        2
2        qweqwed.com        1
3        qweqwed.com        2
4          asdsa.com        2
5          asdsa.com        1
6        qweqwed.com        2
7      qweqaswed.com        1
8       qweaqwed.com        2
9          asdsa.com        2
10      asSSWdsa.com        1
11     qweSAqwed.com        2
12    qweSASqwed.com        1
13     qwADeqwed.com        2
14        asAdsa.com        2
15        asdSsa.com        1
16         asdsa.com        1
17    qweAASqwed.com        2
18     qweqASwed.com        1
19  qwDSAASeqwed.com        2
20       aASsdsa.com        2

In [138]:
users = df.user_id.unique()
print users

[1 2]

In [217]:
df['visitas'] = 1
# df.sort_values('url_id', ascending=False)


df.drop_duplicates(inplace =True)
print df.head(22)
df.groupby('user_id')['visitas'].sum().mean()

              url_id  user_id  visitas
0          asdsa.com        1        1
1        qweqwed.com        2        1
2        qweqwed.com        1        1
4          asdsa.com        2        1
7      qweqaswed.com        1        1
8       qweaqwed.com        2        1
10      asSSWdsa.com        1        1
11     qweSAqwed.com        2        1
12    qweSASqwed.com        1        1
13     qwADeqwed.com        2        1
14        asAdsa.com        2        1
15        asdSsa.com        1        1
17    qweAASqwed.com        2        1
18     qweqASwed.com        1        1
19  qwDSAASeqwed.com        2        1
20       aASsdsa.com        2        1
21     qweqaswed.com        3        1
22      qweaqwed.com        3        1
23         asdsa.com        3        1
24       asSSWdsa.cm        3        1
25     qweSAqwed.com        3        1
26    qweSASqwed.com        3        1

8.3333333333333339

In [235]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                     'foo', 'bar', 'foo', 'foo'],
                'B' : ['one', 'one', 'two', 'three',
                       'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
               'D' : np.random.randn(8)})
print df.head(20)
grouped = df.groupby(['A','B'])['C'].sum()
print grouped.head()

     A      B         C         D
0  foo    one  1.707312  0.338385
1  bar    one  0.767105  1.111180
2  foo    two -1.219677  1.679029
3  bar  three -0.437777 -1.022916
4  foo    two -0.198591 -0.238209
5  bar    two  0.465261 -0.260233
6  foo    one  1.183136 -0.275771
7  foo  three -0.279660 -1.407878
A    B
bar  one      0.767105
     three   -0.437777
     two      0.465261
foo  one      2.890447
     three   -0.279660
Name: C, dtype: float64

Dados los archivos: ratings (movie_id, title, avg_rating) genres (movie_id, genre) Realizar un programa en PIG que liste los 5 géneros con mayor promedio de rating en sus películas. (**) (15 pts)

In [254]:
Ratings = {
'movie_id': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],
'title': ['Materia A', 'Materia B', 'Materia C', 'Materia D', 'Materia E','Materia F',
                  'Materia 7','Materia 8','Materia 9','Materia 10','Materia 11',
                  'Materia 12','Materia 13','Materia 14','Materia 15','Materia 16'],
'avg_rating':[12,34,68,98,32,45,76,88,76,54,33,23,12,67,65,21]
}


Genres = {
    'movie_id': [1,2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16],
    'genre': ['Fantasia', 'Terror' ,'Suspenso', 'Suspenso', 'Suspenso', 'Drama', 'Drama', 'Drama', 'Drama', 'Fantasia', 'Terror' ,'Suspenso', 'Terror', 'Terror', 'Terror', 'Infantil']
}

ratings = pd.DataFrame(Ratings)

ratings.head()

   avg_rating  movie_id      title
0          12         1  Materia A
1          34         2  Materia B
2          68         3  Materia C
3          98         4  Materia D
4          32         5  Materia E

In [255]:
genres = pd.DataFrame(Genres)
genres.head()

      genre  movie_id
0  Fantasia         1
1    Terror         2
2  Suspenso         3
3  Suspenso         4
4  Suspenso         5

In [258]:
merge = pd.merge(ratings,genres,on='movie_id', how='inner')
merge.head()

   avg_rating  movie_id      title     genre
0          12         1  Materia A  Fantasia
1          34         2  Materia B    Terror
2          68         3  Materia C  Suspenso
3          98         4  Materia D  Suspenso
4          32         5  Materia E  Suspenso

In [269]:
merge.groupby('genre')['avg_rating'].mean().sort_values(ascending=False).head(5)

genre
Drama       71.25
Suspenso    55.25
Terror      42.20
Fantasia    33.00
Infantil    21.00
Name: avg_rating, dtype: float64

In [273]:
Cursos = {
    	'Codigo Materia': ['75.06', '75.06', '75.06', '75.10', '63.01'],
    	'Nombre de Materia': ['Materia A', 'Materia B', 'Materia C', 'Materia D', 'Materia E'],
    	'Codigo Curso':['1A','1B','1C','1D','1E'],
    	'Profesor':['Prof A', 'Prof B', 'Prof C', 'Prof D', 'Prof E']
}

Notas = {
    	'padron': ['94508', '93000','95000', '96000', '98000', '10000', '10001'],
    	'Codigo Materia': ['75.06', '75.06', '75.06','75.06', '75.10', '63.01', '63.01'],
    	'Codigo Curso': ['1A','1A','1B','1C','1D','1E', '1E'],
    	'Nota': [10, 7,7, 8, 4, 10, 2],
}

cursos = pd.DataFrame(Cursos)

cursos.head()

  Codigo Curso Codigo Materia Nombre de Materia Profesor
0           1A          75.06         Materia A   Prof A
1           1B          75.06         Materia B   Prof B
2           1C          75.06         Materia C   Prof C
3           1D          75.10         Materia D   Prof D
4           1E          63.01         Materia E   Prof E

In [275]:
notas = pd.DataFrame(Notas)
notas.head()

  Codigo Curso Codigo Materia  Nota padron
0           1A          75.06    10  94508
1           1A          75.06     7  93000
2           1B          75.06     7  95000
3           1C          75.06     8  96000
4           1D          75.10     4  98000

In [286]:
merge = pd.merge(cursos,notas, on=['Codigo Materia','Codigo Curso'] ,how='inner')

merge.head()

  Codigo Curso Codigo Materia Nombre de Materia Profesor  Nota padron
0           1A          75.06         Materia A   Prof A    10  94508
1           1A          75.06         Materia A   Prof A     7  93000
2           1B          75.06         Materia B   Prof B     7  95000
3           1C          75.06         Materia C   Prof C     8  96000
4           1D          75.10         Materia D   Prof D     4  98000

In [288]:
merge = merge[merge['Nota']>=7]
merge.head()

  Codigo Curso Codigo Materia Nombre de Materia Profesor  Nota padron
0           1A          75.06         Materia A   Prof A    10  94508
1           1A          75.06         Materia A   Prof A     7  93000
2           1B          75.06         Materia B   Prof B     7  95000
3           1C          75.06         Materia C   Prof C     8  96000
5           1E          63.01         Materia E   Prof E    10  10000

In [290]:
merge.groupby('Nombre de Materia')['Nota'].mean().sort_values(ascending=False)

Nombre de Materia
Materia E    10.0
Materia A     8.5
Materia C     8.0
Materia B     7.0
Name: Nota, dtype: float64